<div class="panel panel-default">
<div class="panel-body">
<div class="row">
<div class="col-md-4">
<%= image_tag @product.image.url(:medium) %>
<div class="table-responsive">
<table class="table">
<tbody>
  <tr>
  <td><strong>Pid:</strong></td>
  <td><%= @product.pid %></td>
  </tr>
  <td><tr><strong>Pname:</strong></td>
  <td><%= @product.pname %></tr></td>
  <td><tr><strong>Price:</strong></td>
  <td><%= @product.price %></tr></td>
  <td><tr><strong>Qty:</strong></td>
  <td><%= @product.qty %></tr></td>
 <td><tr> <strong>Available:</strong></td>
  <td><%= @product.available %></tr></td>
</tbody>
</div>
</div>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
